
@{
    ViewBag.Title = "_home";
}


<div class="homeBody">
   
  <h1>  <img src="~/Images/gif3.gif" width="100%" title="NelsonGang 
            " alt="Nelson Gang Nelsongang rapper Hollywood California LosAngeles Rap HipHop Artist
              Performer songwriter"/> </h1>
    <div class="showsButtons">
        <a class="foo">
            <img src="~/Images/4.png" onclick="four()" width="7%" />
            <img src="~/Images/4Hover.png" onclick="four()" width="7%" />
        </a>
        @*<a class="foo">
            <img src="~/Images/2.png" onclick="two()" width="5%" />
            <img src="~/Images/2Hover.png" onclick="two()" width="5%" />
        </a>*@
        <a class="foo">
            <img src="~/Images/1.png" onclick="one()" width="7%" />
            <img src="~/Images/1Hover.png" onclick="one()" width="7%" />
        </a>
    </div>

    

    </div>




    <div class="row">
       
   
   <div class="column">

        <img src="~/Images/picture1.jpg"style="width:100%"
        title="NelsonGang or DIE" alt="rap rapper artist
        hollywood california nelson nelsongang true fronto 
        tobacco leaf paper backwood cigar marijuana medical"/>
        <img src="~/Images/picture2.jpg" style="width:100%"/>
        <img src="~/Images/picture3.jpg" style="width:100%"/>
        <img src="~/Images/picture4.jpg" style="width:100%"/>
        <img src="~/Images/picture5.jpg" style="width:100%"/>
        <img src="~/Images/picture6.jpg"style="width:100%" />

    </div>
    <div class="column">

        <img src="~/Images/picture7.jpg" style="width:100%" 
        title="Nelson Gang Live" alt="NelsonGang Nelson 
        Hollywood California Rap artist Rapper hiphop freestyle
        worldstar fam clothing company" />
        <img src="~/Images/picture20.jpg" style="width:100%" />
        <img src="~/Images/picture9.jpg"style="width:100%" />
        <img src="~/Images/picture10.jpg"style="width:100%" />
        <img src="~/Images/picture12.jpg" style="width:100%"/>
        <img src="~/Images/picture13.jpg"style="width:100%" />

    </div>
    <div class="column">

        <img src="~/Images/picture14.jpg" style="width:100%"
        title="NelsonGang Racks" alt="NelsonGang Nelson Racks
        Live Show Supreme Rodeo Drive Hollywod California
        LosAngeles Rapper Rap artist Producer Songwriter 
        Freestyle"/>
        <img src="~/Images/picture15.jpg"style="width:100%" />
        <img src="~/Images/picture16.jpg"style="width:100%" />
        <img src="~/Images/picture17.jpg" style="width:100%"/>
        <img src="~/Images/picture18.jpg"style="width:100%" />
        <img src="~/Images/picture19.jpg"style="width:100%" / >

    </div>
    <div class="column">
        <img src="~/Images/picture8.jpg"style="width:100%" />
        <img src="~/Images/picture21.jpg"style="width:100%"
        title="NelsonGang Supreme LouisVuitton"
        alt="NelsonGang Nelson Supreme Louis Vuitton Louisvuitton
        hypebeast grailed rap rapper artist design fashion 
        hollywood california losangeles LA RodeoDrive "/>
        <img src="~/Images/picture22.jpg" style="width:100%"/>
        <img src="~/Images/picture23.jpg" style="width:100%"/>
        <img src="~/Images/picture24.jpg" style="width:100%"/>
        <img src="~/Images/picture25.jpg" style="width:100%"/>

    </div>
</div>
<style>
   
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>
<script>
    function four() {
        var elements = document.getElementsByClassName("column");
        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "25%";
        }
    }

    // Two images side by side
    function two() {
        var elements = document.getElementsByClassName("column");
        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "50%";
        }
    }

    // Full-width images
    function one() {
        var elements = document.getElementsByClassName("column");
        var i;
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "100%";
        }
    }

@*// Four images side by side
function four() {
    var elements = document.getElementsByClassName("column");
    var i;
    for (i = 0; i < elements.length; i++) {
        elements[i].style.width = "25%";
    }
}

// Two images side by side
function two() {
    var elements = document.getElementsByClassName("column");
    var i;
    for (i = 0; i < elements.length; i++) {
        elements[i].style.width = "50%";
    }
}

// Full-width images
function one() {
    var elements = document.getElementsByClassName("column");
    var i;
    for (i = 0; i < elements.length; i++) {
        elements[i].style.width = "100%";
    }
}*@
</script>






